body{
    margin: 0px;
}  
header {
    display: flex;
    top:0;
    width: 100%;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    background-color:#f6d98b;
    position: fixed;
    justify-content: space-between;
    z-index: 1;
    color: rgb(48, 97, 40);
    padding: 0px;
} 
nav{
    padding: 15px;
}
nav a{
    padding: 10px 25px; 
    text-decoration: none;
    color: #325d2e;
}
nav a:hover{
    color: antiquewhite;
    background-color: darkolivegreen;
    border-radius: 999px;
    transition: 0.2s;
}
section.logo{
    width: 130px;
    height: auto;
}
.logo img{
    width: 100%;
    height: auto;
}

section.home{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 600px;
    } 

section.home img{
    text-align: center;
    margin-left: 5%;
    margin-top: -20%;
    margin-bottom: 90%;
    width: 350px;
    height: 350px;
}
section.about{
    background-color: black; 
    height: 600px;
    }
section.product{
    background: url("gb2.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 600px;
    }
section.contact{
    background-color: black; 
    height: 600px;
    } 
footer {
    background-color: black;
    height:50px;
    }

section.home{
    height: 600px;
    background-color:#f5f1e5;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top:100px;
}
section.home div{
    font-family: "Cal Sans";
    font-size: 25px;
    font-weight: 50px;
    text-align: center;
    color: #264723;
    margin:auto;
    width:70%;
    padding: 40px;
}
section.home h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 6px;
    color: #003c29;
    text-align: center;
    margin-top: 5px;
    line-height: 10px;
}
section.home a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #003c29;
    padding: 10px 20px; text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
section.home .begron.png{
    margin: left;
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-right: 70px;
}

section.about{
    background-color: #9ccb69;
    height: 600px;
    padding-top: 100px;
} 

section.about h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #003c29;
}
section.about div{
    color: #f2ebe2;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin:auto;
    width:70%;
} 
section.about img{
    height: 200px;
}
section.product {
    background-image: url("bg.png");
    background-size: cover;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    padding-bottom: 100px;
}

section.product .container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
}

.card a {
    display: inline-block;
    white-space: nowrap;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
  }

section.product .container .card {
    background-color: white;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    color:black;
    width: 200px;
    height: 550px;
    margin: 15px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

section.product .container .card img {
    width: 100%;
    border-radius: 8px;
}

section.product .container .card a {
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 16px;
}

@keyframes goyang{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(3deg)
    }
    50%{
        transform: rotate(-3deg)
    }
    75%{
        transform: rotate(1deg)
    }
    100%{
        transform: rotate(0deg);
    }
}

.card:hover{
    box-shadow: whitesmoke;
    transition: 0.6s;
    animation: goyang 1s;
}


section.contact{
    background-color: #f2ebe2;
    height: 600px;
}
section.contact .card{
    margin: auto;
    margin-bottom: 200px;
    margin-top: 0px;
    color: #f2ebe2;
    background-color: #9ccb69;
    border-radius: 10px;
    opacity: 70%;
    font-family: 'Poppins', sans-serif ;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 100px;
    width: 400px;
}
section.contact .card img{
    width: 200px;
    height: auto;
}

footer{
    background-color: #9ccb69;
    height: 30px;
}
footer .medsos{
    text-align: center;
    padding-top: 10px;
}
footer .medsos a{
    color: white;
    font-size: 20px;
    padding: 5px 20px;
}